header{
    border: 1px solid yellowgreen;
    background-color: aquamarine;
}
main{
    border: 3px dotted cornflowerblue;
    background-color: bisque;
}
footer{
    border: 2px dashed rosybrown;
    background-color: burlywood;
}